/* CSS Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Stilizzo il titolo della pagina */
h1{
    color: #e53170;
    font-family: Fredoka One;
    font-size: 3em;
    text-align: center;
    font-weight: 100;
    margin: 30px
}

/* Stilizzo il testo della pagina */
p{
    font-size: 1.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Stilizzo il titolo dei box */
h2{
    font-family: Fredoka One;
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}

/* Stilizzo il sottotitolo dei box */
h3{
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Stilizzo i link all'interno dei box */
a{
    font-size: 1.1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0c72cc;
    text-decoration: none;
    padding-right: 80px;
}

/* grandezza e posizionamento del contenitore principale della pagina*/
main{
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    min-height: 500px;
}

/* Stilizzo i box che contengono le informazioni del team */
main > div{
    background-color: #0e0e16;
    float: right;
    margin-right: 30px;
    margin-top: 50px;
    box-shadow: 5px 5px 18px #888888;
    height: 135px;
    min-width: 496px;
}

/* Stilizzo i contenitori all'interno dei box */
main > div > div{
    padding: 20px;
}

/* Stilizzo le immagini all'interno dei box */
img{
    float: left;
    height: 100%;
    margin-right: 25px;
}

