/* CSS Reset ------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Stilizzo i vari testi */

h1{
    color: #e53170;
    font-family: Fredoka One;
    font-size: 3em;
    text-align: center;
    font-weight: 100;
    margin: 30px
}

p{
    font-size: 1.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2{
    font-family: Fredoka One;
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}

h3{
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a{
    font-size: 1.1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0c72cc;
    text-decoration: none;
    padding-right: 80px;
}

/* stilizzo i vari box */
main{
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    min-height: 1000px;
}

main > div{
    background-color: #0e0e16;
    float: right;
    margin-right: 30px;
    margin-top: 50px;
    box-shadow: 5px 5px 18px #888888;
    height: 135px;
}

main > div > div{
    float: right;
    padding: 25px
}

img{
    height: 100%;
}
